@font-face {
    font-family: "Snake";
    src: url("SnakeChan-MMoJ.ttf");
}

body,
html {
    background-color: #F6F6F7;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-family: "Snake";
}

.start {
    text-align: middle;
}

button.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
}

canvas {
    border-radius: 1em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-shadow: 0 0 15px 0px #cccccc;
    border: 1px solid #cccccc;
}

.nowrap {
    white-space: nowrap;
}