:root {
  /* fonts */
  --font-inter: Inter;
  --font-sen: Sen;

  /* font sizes */
  --font-size-lgi-2: 1.2rem;

  /* Colors */
  --color-steelblue-100: #0485c1;
  --color-white: #fff;
  --color-sandybrown: #fc9a40;
  --color-chocolate-100: #c9660d;
  --color-chocolate-200: rgba(201, 102, 13, 0.09);
  --color-gainsboro-100: #d9d9d9;
  --color-black: #000;

  /* Gaps */
  --gap-7xs-7: 5.7px;

  /* Paddings */
  --padding-smi: 0.813rem;
  --padding-base-4: 1.025rem;

  /* Border radiuses */
  --br-lgi-2: 19.2px;
  --br-3xs-6: 9.6px;
}

/* DEFAULTS */

html {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0
}

h1 {
  height: 156.8px;
  text-shadow: 2px 2px 0 #0485c1, -2px -2px 0 #0485c1, 2px -2px 0 #0485c1, -2px 2px 0 #0485c1, 2px 2px 0 #0485c1, 4px 6px 2px rgb(0 0 0 / 25%);
  margin: 0;
  /* -webkit-text-stroke: 2px #0485c1; */
  position: relative;
  font-size: 3.838rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

img,
svg {
  user-select: none;
  -webkit-user-drag: none;
}

/* HEADER */

header {
  width: 100vw;
  height: 100px;
  position: sticky;
  z-index: 5;
  border-bottom: 2px solid white;
  top: 0;
  /* border-radius: 15px 15px 0 0; */
  background-color: #50b0dd;
  display: flex;
  justify-content: center;
}

.header-content {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.1405rem 2.626rem 1.1405rem 2.626rem;
  max-width: 950px;
}

nav {
  grid-column-start: 2;
  width: 496.7px;
  justify-content: space-between;
  padding: 0 0.663rem;
  text-align: center;
  font-size: var(--font-size-lgi-2);
  color: var(--color-white);
  font-family: var(--font-inter);
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

nav>p {
  min-width: 69px;
  position: relative;
  cursor: pointer;
}

nav>p::after {
  border: 1px solid #fc9a40;
  position: absolute;
  content: "";
  height: 3px;
  background: #fc9a40;
  width: 100%;
  left: 0;
  bottom: -7px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
}

nav>p.selected::after,
nav>p:hover::after {
  opacity: 1;
}

.logo {
  width: 125px;
  position: absolute;
  /* padding-left: 2.626rem; */
  top: -7px;
  z-index: 1;
}

.account {
  display: flex;
  gap: var(--gap-7xs-7);
  justify-self: end;
  height: 60px;
  align-items: center;
}

.account:hover button,
.primary-button:hover button {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px var(--color-chocolate-100);
}

.info {
  display: flex;
  cursor: pointer;
  border: 2px solid var(--color-sandybrown);
  padding: 0.6rem var(--padding-smi) 0.575rem var(--padding-smi);
  background-color: transparent;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs-7);
  height: fit-content;
}

.play {
  width: 40.3px;
  font-size: var(--font-size-lgi-2);
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  min-width: 40.3px;
}

.img-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* PAGE CONTENT */

body.content {
  border-radius: 10px;
  background-color: #50b0dd;
  overflow-x: hidden;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3.838rem;
  color: var(--color-white);
  font-family: var(--font-sen);
  position: relative;
  height: fit-content;
  background-color: #058ece;
}

.frame-item {
  height: 3.8px;
  width: 60.4px;
  position: absolute;
  margin: 0 !important;
  bottom: 18.5px;
  left: 0;
}

.arrow-forward-icon {
  height: 18.3px;
  width: 14.1px;
  object-fit: cover;
}

.blue {
  border-color: #0485c1;
  height: 40px;
  box-shadow: 3.8px 3.8px 7.67px rgba(0, 0, 0, 0.25);
}

.game-preview-1:hover button {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px #045b83;
}

.start-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13.1px;
  max-width: 100%;
}

.start-text>p {
  font-size: var(--font-size-lgi-2);
  font-weight: 600;
  font-family: var(--font-inter);
}

button>p {
  font-size: var(--font-size-lgi-2);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
}

.left {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 28.8px;
  left: 0;
  /* width: 50%; */
  gap: 26.7px;
  max-width: 60%;
  /* height: 100%; */
  padding-bottom: 28.8px;
  height: fit-content;
}

.left button,
.primary-button button {
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid var(--color-white);
  padding: 0.894rem 0 0.894rem 0;
  background-color: var(--color-sandybrown);
  display: flex;
  flex-direction: row;
  min-width: 96px;
  width: 140px;
  justify-content: center;
  align-items: center;
  gap: var(--gap-7xs-7);
}

button.read-more {
  border: 3px solid var(--color-sandybrown);
  background-color: transparent;
}

.read-more svg {
  width: 0px;
  transition: width .5s;
}

.read-more:hover svg {
  width: 15px;
}

.start-buttons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21.7px;
  font-size: 0.719rem;
  font-family: var(--font-inter);
}

.primary-button>p {
  display: flex;
  padding-top: 4px;
  font-weight: 600;
  justify-content: center;
}

.image-6-icon {
  filter: blur(1px);
  height: 100%;
  object-fit: contain;
  position: absolute;
  border-radius: 20px;
  box-shadow: 3px 6px 8px 0px rgb(0 0 0 / 25%);
}

.wrapper-image-6 {
  width: 239.7px;
  height: 239.7px;
  position: relative;
  border-radius: 19.18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-2-preview,
.game-logo {
  display: flex;
  max-width: 100%;
}

.game-logo {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 2;
}

.game-2-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 354.8px;
  height: 239.7px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.image-5-icon {
  position: relative;
  display: none;
}

.image-5-icon {
  height: 287.7px;
  width: 287.7px;
  border-radius: 19.18px;
  object-fit: cover;
}

.d-chess {
  height: 12.3px;
  flex: 1;
  position: relative;
  font-size: 0.838rem;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 3.8px 3.8px 7.67px rgba(0, 0, 0, 0.25);
}

.arrow-forward-icon1 {
  height: 100%;
  width: 100%;
  min-height: 14px;
  object-fit: contain;
  position: absolute;
  left: 4px;
  top: 4px;
  transform: scale(2.247);
}

.wrapper-arrow-forward {
  height: 13.8px;
  width: 12.3px;
  position: relative;
}

.group-button {
  display: flex;
  cursor: pointer;
  border: 2px solid var(--color-steelblue-100);
  padding: 0.6rem var(--padding-smi) 0.575rem var(--padding-smi);
  background-color: transparent;
  height: 40px;
  width: 112px;
  border-radius: 10px;
  box-shadow: 3.8px 3.8px 7.67px rgba(0, 0, 0, 0.25);
  align-items: center;
  gap: var(--gap-7xs-7);
}

.game-preview-1 {
  display: flex;
  box-sizing: border-box;
  align-content: flex-end;
  flex-wrap: wrap;

  position: absolute;
  top: 30.7px;
  left: 0;
  border-radius: 20px;
  width: 287.7px;
  height: 287.7px;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1.125rem 0.919rem 1.106rem;
  background-image: url(/images/chessBoard.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
  box-shadow: 11.5px 11.5px 13.5px 3.8px rgb(0 0 0 / 25%);
}

.game-previews {
  position: absolute;
  top: 0;
  right: 1.319rem;
  width: 354.8px;
  height: 318.4px;
  max-width: 100%;
}


.start {
  max-width: 950px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 1.319rem 0 1.313rem;
  box-sizing: border-box;
  position: relative;
  margin-top: 25px;
  height: calc(100vh - 100px - 25px);
}

.frame-child1 {
  align-self: stretch;
  width: 191.6px;
  position: relative;
  border-radius: 20px;
  background-color: var(--color-sandybrown);
  filter: blur(4px);
  box-sizing: border-box;
}

.frame {
  height: 191.6px;
  width: 423.6px;
  margin: 0 !important;
  position: absolute;
  top: -21.1px;
  right: -68.8px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

/* FEEDBACK BUTTON */

.feedback {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.feedback-icon {
  background-color: #fc9a40;
  height: 40px;
  aspect-ratio: 1;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.feedback svg {
  fill: #045378;
  width: 25px;
  aspect-ratio: 1;
}

.feedback>p {
  font-size: 0.838rem;
  font-weight: 600;
  font-family: var(--font-inter);
  color: white;
  text-align: right;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}

.feedback:hover>p {
  opacity: 1;
}

.feedback-popup {
  position: fixed;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: transparent;
  backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
}

.feedback-popup>div {
  width: 80vw;
  height: 80vh;
  background: #058ece;
  border-radius: 20px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  justify-content: space-evenly;
}

.feedback-popup h2 {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-sen);
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback-popup textarea {
  max-width: 90%;
  width: 80%;
  height: 50%;
  max-height: 60%;
}

button.close {
  position: absolute;
  right: 0;
  margin-right: 35.5px;
}

.close.send {
  position: relative;
  margin: 0;
}

/* STATS */
.stats {
  width: 100%;
  background-color: #50B0DD;
  display: flex;
  justify-content: space-evenly;
  font-size: var(--font-size-lgi-2);
  font-weight: 600;
  font-family: var(--font-inter);
  color: black;
  height: 65px;
  align-items: center;
}

@media screen and (max-width: 750px) {
  header {
    gap: 19px;
  }

  .free-games-for {
    font-size: 3.063rem;
  }
}

@media screen and (max-width: 450px) {
  .free-games-for {
    font-size: 2.313rem;
  }

  .read-more,
  .left button:first-child {
    flex: 1;
  }

  .frame-parent1 {
    flex-wrap: wrap;
  }

  .start {
    height: auto;
    min-height: 343.6;
  }

  main {
    padding-bottom: 2.563rem;
    box-sizing: border-box;
  }

  body {
    height: auto;
  }
}